@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #e6f0ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply bg-gradient-to-r from-[#1c2942] via-[#162033] to-[#111927];
  min-height: 100%;
  background-attachment: fixed;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
